.button {
  background-color: var(--color-primary);
  border: none;
  border-radius: 3px;
  box-shadow: none !important;
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  color: white;
  font-family: inherit;
  font-size: .75rem;
  min-width: 100px;
  max-width: 264px;
  padding: .5rem;
}